/******************************/
/*      TABLE OF CONTENTS     */
/******************************/

/* 1. General document styling (HTML, BODY)
   2. Header
      2a. Nav bar
   3. Landing page
    3a. How We Adventure


*/

/*******************************/
/*1. GENERAL DOCUMENT STYLING  */
/*******************************/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400');

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

form {
  text-align: center;
}

input {
  display: block;
}

hr {
  width: 90%;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.container {
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  margin: 0 auto;
}


/*******************************/
/*         2. HEADER           */
/*******************************/

header {
  width: 100%;
  padding-top: 1em;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #FFF;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5)
}

#landing-header {
  height: 550px;
  background-image: url('../images/landing-page-hero.jpg');
  text-align: center;
}

#landing-header-content {
  height: 424px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#landing-header-content h1 {
  font-size: 3em;
}

#landing-header-content input {
  height: 60px;
  width: 538px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  padding-left: 1em;
  font-size: 1.6em;
}

/*******************************/
/*        2a. NAV BAR          */
/*******************************/

nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #FFF;
  font-size: 1.25em;
  line-height: 1.5em;
}

nav a {
  margin-top: .375em;
  text-decoration: none;
  color: #FFF;
}

#nav-subscribe-button {
  height: 2.25em;
  width: 155px;
  border: 4px solid #FFFFFF;
  border-radius: 4px;
  color: #FFF;
  font-weight: 400;
  background: transparent;
}

#nav-links {
  width: calc(100% - 143px);
  display: flex;
  justify-content: space-around;
}

/*******************************/
/*      3. LANDING PAGE        */
/*******************************/

/*    3a. How We Adventure     */

#how-we-adventure {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 6em auto;
}

#how-we-adventure h1 {
  margin-bottom: 3em;
}

.adventure-item {
  text-align: center;
  width: 350px;
}

.adventure-item p {
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 1.25em;
  margin: 0.75em auto;
}

.adventure-title {
  color: #DBA510;
  height: 1em;
}

/*******************************/
/*        Testimonials         */
/*******************************/

#testimonials {
  height: 550px;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  position: relative;
}

#testimonial-content {
  height: 100%;
  width: 680px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#testimonials h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #FFF;
  margin-top: 1.875em;
}

#testimonial-image {
  height: 130px;
  width: 130px;
  margin-top: 1.675em;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.testimonial-text {
  width: 680px;
  font-family: 'Merriweather', serif;
  font-size: 1.5625em;
  line-height: 1.5em;
  text-align: center;
  color: #FFF;
}

#testimonial-selector-panel {
  display: flex;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 1em;
  justify-content: center;
}

.testimonial-selector-button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #9B9B9B;
  margin: 0 12px;
}

.tsb-active {
  background-color: #FFF;
}

/*******************************/
/*  Landing Newsletter Signup  */
/*******************************/

#newsletter-landing-page-sign-up {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 6.25em;
}

#newsletter-landing-button {
  height: 80px;
  width: 500px;
  margin-top: 2.5em;
  border-radius: 4px;
  border: none;
  background-color: #DBA510;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  color: #FFF;
}

/*******************************/
/*           Footer            */
/*******************************/

footer {
  text-align: center;
  width: 100%;
  height: 4em;
  background: #000;
  color: #EFEFEF;
}

.footer-links {
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 676px;
  padding-left: 200px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
}

.footer-links a {
  color: #EFEFEF;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #DBA510;
}

.social-media-icons {
  width: 200px;
  height: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  float: right;
}

.social-media-icons img {
  height: 45px;
  width: 45px;
}


/*******************************/
/*  LAST. SUBSCRIPTION MODALS  */
/*******************************/

#subscription-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(200,200,200,0.6);
}

.subscription-modal-content {
  width: 600px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-modal-content input,
.subscription-modal-content h3,
.subscription-modal-content button {
  margin: 1em auto;
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
}

.subscription-modal-content h2 {
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.subscription-modal-content input {
  background: transparent;
  color: white;
  height: 2em;
  width: 240px;
  padding: 0 10px;
}

.subscription-modal-content button {
  border: 2px solid #DBA510;
  color: #DBA510;
  background: transparent;
  height: 2em;
  width: 180px;
}
